.screen2-div img{
   width: 200px;
}

.screen2-div li{
    list-style: none;
    text-align: center;
}
.screen2-div p{
    text-align: justify;
}


.screen2-div{
    display: flex;
    flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   height: auto;
   text-align: center;

}

/* modal style */

.modal-moviename {
    text-align: center;
    color: brown;
}
.modal-style{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}
